<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acción - Stem Store</title>
    <link rel="stylesheet" href="/css/categoria.css">
    <link rel="icon" href="/assets/images/logo/logoStem.ico">
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <img src="/assets/images/logo/stem-isologo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/cat_accion.html">Acción</a></li>
                <li><a href="/views/cat_rol.html">Rol</a></li>
                <li><a href="/views/cat_aventura.html">Aventura</a></li>
                <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
                <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
            </ul>
        </nav>
    </header>

    <main class="games-container">

        <section class="game-container">
            <h2>Black Myth Wukong</h2>
            <img src="/assets/images/black_myth_wukong.webp" alt="Imagen Black Myth Wukong">
            <p>Black Myth: Wukong es un RPG de acción inspirado en la mitología china. Encarnarás al Predestinado, que ha de embarcarse en un viaje repleto de peligros y maravillas para descubrir la verdad oculta acerca de una gloriosa leyenda del pasado. Sumérgete en un reino fascinante lleno de maravillas y descubre la mitología de la antigua China. En el papel del Predestinado, recorrerás una amplia variedad de paisajes espectaculares e inconfundibles basados en la novela clásica "Viaje al Oeste", y vivirás una épica aventura desde una nueva perspectiva.</p>
            <a href="/views/game_black_myth_wukong.html">Detalles</a>
        </section>

        <section class="game-container">
            <h2>Battlefield 6</h2>
            <img src="/assets/images/battlefield_6.jpg" alt="Imagen Battlefield"> <br>
            <p>La experiencia bélica definitiva. En una guerra de tanques, cazas y gigantescos arsenales de combate, el arma más mortífera es tu patrulla. Lucha en intensos combates de infantería, atraviesa los cielos en combate aéreo, destruye tu entorno y consigue una ventaja estratégica, y toma el control de todas tus decisiones y movimientos con el sistema de combate cinestésico. En una guerra de tanques, cazas y gigantescos arsenales de combate, el arma más mortífera es tu patrulla. Esto es Battlefield 6.</p>
            <a href="/views/game_battlefield_6.html">Detalles</a>
        </section>

    </main>

    <footer>
        <a href="/views/contacto.html">Contacto y soporte</a>
    </footer>

</body>

</html>