<!DOCTYPE html>
<html lang="es">

<header>
    <nav>
    <div class="logo">SteM Store</div>
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/cat_accion.html">Acción</a></li>
        <li><a href="/views/cat_rol.html">Rol</a></li>
        <li><a href="/views/cat_aventura.html">Aventura</a></li>
        <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
        <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
    </ul>
    </nav>
</header>

<section class="civilization-container">
    <h2>Civilization VII</h2>
    <a href="/views/game_civilization_vii.html">
        <img src="/assets/images/civilization_vii.jpg" alt="Imagen Civilization VII" class="foto-civilization">
    </a>
    <p>La galardonada saga de juegos de estrategia regresa con una nueva y revolucionaria entrega. ¡Con Sid Meier's Civilization® VII construirás el mayor imperio que haya existido!</p>
    <a href="/views/game_civilization_vii.html">Detalles</a>
</section>

<section class="7-days-to-die-container">
    <h2>7 Days to die</h2>
    <a href="/views/game_7_days_to_die.html">
        <img src="/assets/images/7_days_to_die.webp" alt="Imagen 7 Days to die" class="foto-7-days-to-die">
    </a>
    <p>7 Days to Die es un juego de mundo abierto que combina de forma extraordinaria juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol. Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
    <a href="/views/game_7_days_to_die.html">Detalles</a>
</section>

<footer>
    <a href ="/views/contacto.html">Contacto y soporte</a>
</footer>