<!DOCTYPE html>
<html lang="es">

<header>
    <nav>
    <div class="logo">SteM Store</div>
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/cat_accion.html">Acción</a></li>
        <li><a href="/views/cat_rol.html">Rol</a></li>
        <li><a href="/views/cat_aventura.html">Aventura</a></li>
        <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
        <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
    </ul>
    </nav>
</header>

<section class="civilization-product">
    <h2>Civilization VII</h2>
    <img src="/assets/images/civilization_vii.jpg" alt="Imagen Civilization VII" class="foto-civilization">
    <p>La galardonada saga de juegos de estrategia regresa con una nueva y revolucionaria entrega. ¡Con Sid Meier's Civilization® VII construirás el mayor imperio que haya existido!</p>
    <p>Construye ciudades y maravillas arquitectónicas para ampliar tu territorio, mejora tu civilización con nuevos avances tecnológicos y conquista o coopera con civilizaciones rivales a medida que exploras los confines del mundo desconocido. Busca la prosperidad sumergiéndote en el juego en solitario o compite con otros jugadores en el modo multijugador en línea.</p>
    <p>Fecha de lanzamiento: 10 de Febrero de 2025</p>
    <p>Etiquetas: Gran estrategia, Históricos, Militares</p>
    <p>Precio: CLP$44.099</p>
    <p>Añadir al carrito de compra</p>
</section>


<footer>
    <a href ="/views/contacto.html">Contacto y soporte</a>
</footer>