<!DOCTYPE html>
<html lang="es">

<header>
    <nav>
    <div class="logo">SteM Store</div>
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/cat_accion.html">Acción</a></li>
        <li><a href="/views/cat_rol.html">Rol</a></li>
        <li><a href="/views/cat_aventura.html">Aventura</a></li>
        <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
        <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
    </ul>
    </nav>
</header>

<section class="warframe-product">
    <h2>Warframe</h2>
    <img src="/assets/images/warframe.jpg" alt="Imagen Warframe" class="foto-warframe">
    <p>Despierta como un guerrero imparable y lucha junto a tus amigos en este juego de acción gratuito en línea y basado en historias.</p>
    <p>Equipa tu warframe: un traje biometálico increíblemente poderoso. Desata sus habilidades y usa una gran variedad de armas devastadoras para aniquilar sin esfuerzo a las hordas de enemigos. Y cuando termine la matanza, podrás obtener o desbloquear instantáneamente a más de 40 warframes diferentes, cada uno con sus poderes únicos, para volver a experimentar el caos como lo prefieras.</p>
    <p>Fecha de lanzamiento: 25 de Marzo de 2013</p>
    <p>Etiquetas: Free to play, Disparos y botín, Rol de acción</p>
    <p>Precio: Gratuito</p>
    <p>Añadir al carrito de compra</p>
</section>


<footer>
    <a href ="/views/contacto.html">Contacto y soporte</a>
</footer>