<!DOCTYPE html>
<html lang="es">

<header>
    <nav>
    <div class="logo">SteM Store</div>
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/cat_accion.html">Acción</a></li>
        <li><a href="/views/cat_rol.html">Rol</a></li>
        <li><a href="/views/cat_aventura.html">Aventura</a></li>
        <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
        <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
    </ul>
    </nav>
</header>

<section class="forza-horizon-product">
    <h2>Forza Horizon 5</h2>
    <img src="/assets/images/forza_horizon_5.webp" alt="Imagen Forza Horizon 5" class="foto-forza-horizon">
    <p>Explora los coloridos paisajes del mundo abierto de México con una acción de conducción ilimitada y divertida en los mejores coches del mundo.</p>
    <p>Este es un mundo abierto diverso
Explora un mundo de llamativo contraste y belleza. Descubre desiertos vivos, exuberantes selvas, ciudades históricas, ruinas escondidas, playas inmaculadas, vastos cañones y un imponente volcán nevado.</p>
    <p>Fecha de lanzamiento: 08 de Noviembre de 2021</p>
    <p>Etiquetas: Carreras, Mundo abierto, Conducción, Realistas</p>
    <p>Precio: CLP$43.900</p>
    <p>Añadir al carrito de compra</p>
</section>


<footer>
    <a href ="/views/contacto.html">Contacto y soporte</a>
</footer>