<!DOCTYPE html>
<html lang="es">

<header>
    <nav>
    <div class="logo">SteM Store</div>
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/views/cat_accion.html">Acción</a></li>
        <li><a href="/views/cat_rol.html">Rol</a></li>
        <li><a href="/views/cat_aventura.html">Aventura</a></li>
        <li><a href="/views/cat_estrategia.html">Estrategia</a></li>
        <li><a href="/views/cat_deportes_carreras.html">Deportes y carrera</a></li>
    </ul>
    </nav>
</header>

<section class="7-days-to-die-product">
    <h2>7 Days to die</h2>
    <img src="/assets/images/7_days_to_die.webp" alt="Imagen 7 Days to die" class="foto-7-days-to-die">
    <p>7 Days to Die es un juego de mundo abierto que combina de forma extraordinaria juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol. Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
    <p>Con más de 20 millones de copias vendidas, 7 Days ha definido el género de supervivencia, con contenido relacionado a la fabricación y a la creación de mundos sin igual. 7 Days To Die es un juego de mundo abierto ambientado en un mundo postapocalíptico brutal e implacable lleno de no-muertos que combina de forma original juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol. Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
    <p>Fecha de lanzamiento: 25 de Julio de 2024</p>
    <p>Etiquetas: Supervivencia, Zombies, Multijugador, Vóxel</p>
    <p>Precio: CLP$21.500</p>
    <p>Añadir al carrito de compra</p>
</section>


<footer>
    <a href ="/views/contacto.html">Contacto y soporte</a>
</footer>